
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0a0a0c;
  color: #e5e5e5;
}

/* Ссылки */
a {
  font-weight: 500;
  color: #d4af37;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #f1d77a;
}


h1, h2, h3, h4 {
  color: #d4af37;
  margin: 0;
}

/* Кнопки */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #e6e1d5;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  border-color: #d4af37;
  background-color: #2c1f14;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; 
}

.home-overlay {
  height: 100%;
  background: rgba(10, 8, 5, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home-overlay h1 {
  font-size: 48px;
  color: #d4af37;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.home-overlay p {
  max-width: 600px;
  font-size: 18px;
  color: #e6e1d5;
  margin-bottom: 30px;
  line-height: 1.6;
}

.home-btn {
  padding: 12px 30px;
  background: #d4af37;
  color: #0b0b0b;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.3s;
}

.home-btn:hover {
  background: #f1d77a;
  color: #0b0b0b;
}
